/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.link {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #0073e6;
  font-size: 14px;
}

.primary {
  padding: 8px 16px;
  background: #ffd500;
  border: none;
  border-radius: 6px;
  color: black;
  font-weight: 500;
  font-size: 14px;
}

.discard {
  color: red;
}
